*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

.card {
  background-color: #f8f8f8;
  padding: 84px;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
}
